
.search-overlay,
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

.search-overlay.open,
#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 2000;
}

.search-overlay .btn,
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
.search-overlay .close,
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}
.search-overlay form,
#search form{
  position:absolute;
  top: 35%;
  transform: translate(0,-50%);
  width:80%;
  left:10%;
      @include sm {
      top: 105px;
      width:92%;
      left:4%!important;
    }
}

/*
 * ajax-search-lite plugin overrides/styles:
 */

div.asl_m .probox .proinput{
  margin:0;
  font-size: 40px!important;
  line-height: 40px!important;
//  padding:10px 30px!important;
  height:40px!important;
}
.search-overlay #ajaxsearchlite1 .probox .proinput input.orig,
.search-overlay div.asl_w .probox .proinput input.orig,
.search-overlay input[type="search"],
#search #ajaxsearchlite1 .probox .proinput input.orig,
#search div.asl_w .probox .proinput input.orig,
#search input[type="search"] {
    width: 100%;
    min-height:40px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 40px!important;
    line-height: 40px!important;
    height:40px!important;
    padding:10px 30px!important;

      @include sm {
      font-size: 26px!important;
      line-height: 40px!important;
      padding:10px 10px!important;

    }

    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px;
    outline: none;
}

#ajaxsearchlite1 .probox .proinput input.orig::placeholder,
div.asl_w .probox .proinput input.orig::placeholder,
#search input[type="search"]::placeholder{
  color:#eee;
  opacity:1;
  transition: .3s all;
  font-size: 40px!important;
  line-height: 40px!important;
    @include sm {
    font-size: 26px!important;
  }
}

#ajaxsearchlite1 .probox .proinput input.orig:focus::placeholder,
div.asl_w .probox .proinput input.orig:focus::placeholder,
#search input[type="search"]:focus::placeholder{
  opacity:0;
}



#ajaxsearchliteres1{
  position:absolute;
  z-index:2010;
  left:10%!important;
  width:80%!important;

  @include sm{
    left: 4% !important;
    width: 92% !important;

  }

  .mCustomScrollBox{
    max-height:65%!important;
  }

  .item,
  .asl_result_pagepost{
    padding:0;

    .asl_res_url{
      transition-delay:0;
    }
    h3,
    a{
        line-height: 26px;
    }

    &:hover,
    &.hovered{

      .asl_res_url.hovered,
      .asl_res_url:hover,
      .asl_res_url{
        color:#fff;
        text-decoration: none;
        transition-delay:0;
      }
      .asl_content{
          background: rgba(42, 91, 166, .5);
          color:#fff;
      }

    }

    .asl_content{
        padding: 6px;
    }
  }

}
#ajaxsearchlite1{

}
#ajaxsearchlitesettings1{
  z-index:2020;
  left:10%!important;
  width:80%!important;
  background: #ddd;
  @include sm {
    width:92%;
    left:4%!important;
  }
}

div.asl_s.searchsettings fieldset{
  width:100%;
}

div.asl_s.searchsettings .asl_option{float:left;min-height:40px;}
div.asl_m .probox{
  background:rgba(255, 255, 255, .3);
}

div.asl_m .probox .proloading{
  width:40px;
  height:40px;
  margin:10px;
}

div.asl_m .probox .proclose,
div.asl_m .probox .promagnifier, div.asl_m .probox .prosettings{
  width:60px;
  height:60px;
  background-color:#fff;
}

div.asl_r p.showmore{
  padding: 10px 3%;
  font-size: 16px;
  width:94%;

  &:hover{
    background: $tropaz;
    color: $white;
  }
//  @include sm {
    position: absolute;
    top: 65%;
//  }

}
