/*
Extra-light: 200
Light: 300
Regular: 400
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
|--------------------
| Grid Resets
|--------------------
*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  max-width: 1440px;
  margin: auto;
  width: 100%; }

.container {
  padding: 0; }
  @media (max-width: 1200px) {
    .container {
      max-width: 1200px; } }
  @media (max-width: 1440px) {
    .container {
      max-width: 1440px; } }
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px; } }

.row {
  margin-left: 0;
  margin-right: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0;
  padding-left: 0; }

/*
|--------------------
| Site Wrapper Globals
|--------------------
*/
.site-wrapper {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  margin: auto; }
  @media (min-width: 1440px) {
    .site-wrapper {
      max-width: 1440px; } }

#main-content {
  margin-top: 80px; }

.inner-width {
  max-width: 85%;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/*
|--------------------
| Typography
|--------------------
*/
body {
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333740;
  -webkit-font-smoothing: antialiased; }

.serif {
  font-family: "Merriweather", serif; }

.sans,
.sansserif,
.sans-serif {
  font-family: "Merriweather", serif; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #333740;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 200;
  margin-bottom: 20px; }

h1.page-title {
  font-weight: 900;
  font-style: italic;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 50px; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 17px; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 14px; }

h4 {
  font-family: "Lato", sans-serif;
  font-size: 23px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 12px; }

h5 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 200;
  margin-bottom: 10px; }

h6 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 10px; }

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

.section-title {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2em; }
  @media (max-width: 600px) {
    .section-title {
      font-size: 24px; } }

.title {
  font-size: 44px;
  line-height: 48px; }

.subtitle {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400; }

/*
|----------------------------------
| Table Styles
|----------------------------------
*/
.table td, .table th {
  text-align: center; }

/*
|----------------------------------
| Links, Images, and Other Globals
|----------------------------------
*/
a {
  color: #292828;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  a:hover, a:focus {
    color: #6a6767; }
  #content p a:not(.button), #content h1 a:not(.button), #content h2 a:not(.button), #content h3 a:not(.button), #content h4 a:not(.button), #content li a:not(.button) {
    text-decoration: underline; }
  #content p a:hover:not(.button), #content h1 a:hover:not(.button), #content h2 a:hover:not(.button), #content h3 a:hover:not(.button), #content h4 a:hover:not(.button), #content li a:hover:not(.button) {
    color: #2A5BA6; }

a.block-link,
a.block-link:hover,
a.block-link:hover * {
  text-decoration: none; }

hr {
  margin-top: 30px;
  margin-bottom: 30px; }

img {
  max-width: 100%;
  height: auto; }

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 40%; }

span.smooth-scroll {
  display: block;
  position: relative;
  top: -56px;
  visibility: hidden; }
  @media (max-width: 992px) {
    span.smooth-scroll {
      top: -95px; } }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.text-light {
  color: #FFFFFF; }

.modal .modal-content {
  border-radius: 0; }
  .modal .modal-content .modal-header {
    border-bottom: none;
    padding-top: 25px;
    padding-right: 25px; }
    .modal .modal-content .modal-header button.close img {
      width: 25px; }
      .modal .modal-content .modal-header button.close img:hover {
        cursor: pointer; }
  .modal .modal-content .modal-body {
    padding: 0px 75px 75px; }

:focus,
a:focus,
button:focus {
  outline: 0; }

.button, .btn {
  margin-top: 25px;
  border-radius: 0;
  border: none;
  background-color: #2A5BA6;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 15px 35px;
  display: inline-block; }
  @media (max-width: 600px) {
    .button, .btn {
      font-size: 15px;
      padding: 10px 35px; } }
  @media (max-width: 480px) {
    .button, .btn {
      font-size: 12px;
      line-height: 15px;
      padding: 10px 20px;
      letter-spacing: 0.04em; } }
  .button:hover, .button:focus, .btn:hover, .btn:focus {
    color: #FFFFFF;
    border: none;
    background-image: none;
    text-decoration: none;
    outline: none;
    cursor: pointer; }

.button-yellow {
  background-color: #FCDB40; }

.button-red {
  background-color: #E95657; }

button.large {
  text-transform: uppercase;
  color: #CDCDCD;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s boxShadow;
  transition: .5s boxShadow; }
  button.large:hover {
    background-color: #CDCDCD;
    color: #fff;
    cursor: pointer; }
  button.large:disabled {
    background: #fff;
    color: #eee;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px 0px transparent; }

.navbar button,
.dropdown button,
button.navbar-toggler,
button.dropdown-element {
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn-wide {
  display: block;
  position: relative;
  width: 60%;
  margin: 40px auto 80px auto;
  padding: 20px;
  font-size: 18px; }

#site-footer {
  border-top: 10px solid #2A5BA6;
  background-color: #292828;
  padding: 75px 0 0;
  color: #FFFFFF;
  position: relative;
  z-index: 10; }
  #site-footer .row {
    padding-left: 50px;
    padding-right: 50px; }
    @media (max-width: 600px) {
      #site-footer .row {
        padding-left: 5%;
        padding-right: 5%; } }
    #site-footer .row > div {
      padding-bottom: 40px; }
  #site-footer .current-menu-item a {
    color: #FFFFFF;
    background-color: #292828; }
  #site-footer .title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px; }
  #site-footer .address {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 35px; }
  #site-footer .contact-method {
    margin-bottom: 0; }
    #site-footer .contact-method a {
      color: #FFFFFF; }
  #site-footer .cm-last {
    margin-bottom: 35px; }
  #site-footer .social {
    margin-top: 100px; }
  #site-footer .social-icon {
    margin: 0 15px 15px 0;
    width: 50px;
    padding-bottom: 50px;
    height: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block; }
  #site-footer .map {
    padding: 0; }
    #site-footer .map a {
      display: block;
      width: 100%; }
    #site-footer .map .bg {
      padding: 0;
      min-height: 250px; }

.interior-header .col-md-12 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30%;
  height: 0; }
  @media (max-width: 768px) {
    .interior-header .col-md-12 {
      padding-bottom: 40%; } }

/*
|--------------------
| Navigation
|--------------------
*/
.site-header {
  /**
 *
 * Menu Items: Defaults:
 *
 */
  /*
   * Make an 'X' on click..
   */ }
  .site-header .navbar.fixed-top {
    max-width: 1440px;
    min-height: 80px;
    top: 26px;
    margin: auto;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
    @media (max-width: 768px) {
      .site-header .navbar.fixed-top {
        top: 0;
        position: absolute; } }
  .site-header .navbar.nav-scrolled {
    top: 0;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4); }
  .site-header .navbar {
    padding: 0 50px;
    background-color: #F5F5F5; }
    @media (max-width: 600px) {
      .site-header .navbar {
        padding: 0 25px; } }
  .site-header .navbar-brand {
    width: 250px;
    position: absolute;
    top: 25px;
    padding: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    @media (max-width: 992px) {
      .site-header .navbar-brand {
        position: relative; } }
    @media (max-width: 600px) {
      .site-header .navbar-brand {
        width: 175px;
        padding-top: 15px;
        padding-bottom: 15px;
        bottom: 0; } }
    .site-header .navbar-brand img {
      padding-top: 0; }
  .site-header .navbar-brand-scrolled {
    bottom: 4px; }
    @media (max-width: 992px) {
      .site-header .navbar-brand-scrolled {
        bottom: 0; } }
  .site-header .nav-link {
    padding: 2em 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2A5BA6;
    font-size: 13px; }
    @media (max-width: 992px) {
      .site-header .nav-link {
        padding: 1em; } }
    .site-header .nav-link:hover {
      background: #FFFFFF;
      font-weight: 800;
      color: #2A5BA6; }
  .site-header .navbar-nav .nav-item ul {
    max-height: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    -webkit-transition: .5s max-height;
    transition: .5s max-height; }
  .site-header .navbar-nav > .nav-item {
    overflow: hidden;
    text-align: center; }
    .site-header .navbar-nav > .nav-item > .nav-link {
      border: 1px solid transparent;
      border-bottom: 2px solid transparent; }
      .site-header .navbar-nav > .nav-item > .nav-link:after {
        display: block;
        content: attr(data-title);
        font-weight: bold;
        width: 110%;
        height: 1px;
        margin-top: -1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden; }
    .site-header .navbar-nav > .nav-item.show {
      overflow: visible; }
      .site-header .navbar-nav > .nav-item.show ul {
        margin-top: 0px;
        border-bottom: 2px solid #2A5BA6;
        max-height: 300px;
        z-index: 2000; }
    .site-header .navbar-nav > .nav-item.show > .nav-link {
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 2px solid #FFFFFF;
      /*
        &:focus,
        &:hover{
          border-bottom:2px solid $white; //no shadow & allow other other blues
        }
*/ }
  .site-header .navbar-nav > .nav-item.current_page_parent > .nav-link {
    font-weight: 800; }
  .site-header .navbar-nav > .nav-item.current_page_parent ul {
    margin-top: -2px;
    border-bottom: 2px solid #2A5BA6; }
  .site-header .navbar-nav > .nav-item:hover {
    background-color: #FFFFFF; }
    .site-header .navbar-nav > .nav-item:hover > .nav-link {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 2px solid #FFFFFF; }
    .site-header .navbar-nav > .nav-item:hover ul {
      margin-top: -2px;
      border-bottom: 2px solid #2A5BA6; }
  .site-header .navbar-nav > .nav-item.show.current_page_parent ul,
  .site-header .navbar-nav > .nav-item.show.current_page_parent:hover ul,
  .site-header .navbar-nav > .nav-item.show:hover ul {
    margin-top: 0;
    border-bottom: 2px solid #2A5BA6; }
  @media (min-width: 992px) {
    .site-header .navbar-toggleable-md .navbar-nav .nav-link {
      padding-right: 1em;
      padding-left: 1em; } }
  .site-header .navbar-toggler-right {
    position: absolute; }
  .site-header .navbar-toggler {
    margin-top: 0;
    min-height: 45px;
    width: 100px; }
  .site-header .navbar-toggler .nav-label {
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 7px; }
  .site-header .navbar-toggler span {
    display: block;
    background-color: #58595b;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 2px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    right: 0;
    top: -4px;
    opacity: 1;
    float: right;
    clear: both; }
  .site-header .navbar-toggler span:nth-child(1),
  .site-header .navbar-toggler span:nth-child(3) {
    -webkit-transition: -webkit-transform .35s ease-in-out;
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out; }
  .site-header .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    right: 12px;
    top: 11px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    opacity: 0.9; }
  .site-header .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent; }
  .site-header .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    right: 12px;
    top: 11px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    opacity: 0.9; }
  .site-header .menu-item-has-children.dropdown {
    -webkit-transition: .6s max-height;
    transition: .6s max-height;
    max-height: 80px; }
    .site-header .menu-item-has-children.dropdown.show {
      max-height: 500px; }
      .site-header .menu-item-has-children.dropdown.show ul.dropdown-menu {
        padding-bottom: 8px; }
  .site-header .navbar-nav .dropdown-toggle::after {
    display: none; }
  .site-header .navbar-nav ul.dropdown-menu {
    margin: 0;
    border-radius: 0;
    border-top: none; }
    .site-header .navbar-nav ul.dropdown-menu .dropdown-item {
      font-weight: 300;
      color: #58595b;
      padding: 10px 1.5rem;
      text-transform: none; }
      .site-header .navbar-nav ul.dropdown-menu .dropdown-item:hover, .site-header .navbar-nav ul.dropdown-menu .dropdown-item:focus {
        color: #2A5BA6;
        background: #F5F5F5; }
  @media (max-width: 1200px) {
    .site-header .navbar-brand {
      position: relative;
      top: 0; }
    .site-header .navbar-toggler:hover,
    .site-header .navbar-toggler:focus {
      cursor: pointer; }
    .site-header .navbar-toggler-right {
      top: 23px;
      right: 1em; }
    .site-header .menu-item-has-children.dropdown {
      -webkit-transition: .6s max-height;
      transition: .6s max-height;
      max-height: 80px; }
    .site-header .navbar-nav .menu-item,
    .site-header .navbar-nav .nav-item {
      text-align: left; }
      .site-header .navbar-nav .menu-item.show,
      .site-header .navbar-nav .nav-item.show {
        background-color: #FFFFFF; }
      .site-header .navbar-nav .menu-item .nav-link,
      .site-header .navbar-nav .nav-item .nav-link {
        padding-left: 2em;
        border: 1px solid transparent;
        border-bottom: 2px solid transparent; }
        .site-header .navbar-nav .menu-item .nav-link:hover,
        .site-header .navbar-nav .nav-item .nav-link:hover {
          border: 1px solid transparent;
          border-bottom: 2px solid transparent; }
    .site-header .navbar-nav > .nav-item {
      margin-bottom: 3px; }
    .site-header .navbar-nav .dropdown-menu {
      border: 0px solid transparent;
      margin-top: -1px; }
    .site-header .navbar-nav .dropdown-menu .dropdown-item {
      padding-left: 2.75em; }
    .site-header .collapse.show {
      padding-bottom: 20px; }
      .site-header .collapse.show .nav-item.dropdown.show > a {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 0; }
      .site-header .collapse.show .nav-item.dropdown.show .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding-bottom: 5px; } }
  .site-header .nav.navbar .dropdown:hover > .dropdown-menu {
    display: block; }
  .site-header .nav.navbar .dropdown-toggle::after {
    display: none; }

/*
  |--------------------
  | Thinline Navigation
  |--------------------
  */
#thinline-nav {
  background-color: #FFFFFF;
  text-align: right;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  min-height: 26px;
  /*
  li.fa-search {
    min-width: 60px;
  }
  li.fa-search:hover:before{
        color: $tropaz;
        text-decoration: none;
  }//li
  li.fa-search a{
    display:block;
    position: relative;
    z-index: 100;
  }

  /*

	svg {
		margin-right: 8px;
		vertical-align: text-bottom;

		#svg-thinline-icons {
			fill: $silver;
			transition: all 0.2s;
		}
	}
*/ }
  #thinline-nav li {
    list-style-type: none;
    display: inline-block;
    position: relative; }
    #thinline-nav li:before {
      position: absolute;
      left: 25px;
      z-index: 2;
      color: #CDCDCD; }
    #thinline-nav li a.nav-link {
      color: #CDCDCD;
      border-left: 1px solid #CDCDCD;
      padding: 5px 25px 5px 50px;
      text-transform: uppercase;
      font-size: 12px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      display: inline; }
      #thinline-nav li a.nav-link:hover, #thinline-nav li a.nav-link:focus {
        color: #2A5BA6;
        text-decoration: none;
        background: none;
        /*
  			svg {
  				#svg-thinline-icons {
  					fill: $tropaz;
  				}
  			}
        */ }
  @media (max-width: 768px) {
    #thinline-nav {
      display: none; } }

.icon-hand-heart .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  left: 32px; }

.site-header {
  overflow-x: hidden; }

.thinline-out {
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }

/*
|--------------------
| Thinline Navigation: mobile
|--------------------
*/
.navbar-nav.thinline-nav,
.icon-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  font-size: 20px;
  border-top: 1px solid #CDCDCD;
  padding-top: 20px;
  margin-top: 20px; }
  @media (min-width: 769px) {
    .navbar-nav.thinline-nav.hidden-md-up,
    .icon-nav.hidden-md-up {
      display: none; } }
  .navbar-nav.thinline-nav li.menu-item,
  .icon-nav li.menu-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .navbar-nav.thinline-nav li.menu-item:before,
    .icon-nav li.menu-item:before {
      color: #CDCDCD;
      line-height: 40px;
      font-weight: 40px;
      margin-right: 8px; }
    .navbar-nav.thinline-nav li.menu-item a,
    .icon-nav li.menu-item a {
      font-family: 'Lato', sans-serif;
      padding-top: 6px;
      padding-left: 0;
      line-height: 28px;
      font-size: 20px;
      font-weight: 300;
      color: #CDCDCD; }
  .navbar-nav.thinline-nav svg.icon,
  .navbar-nav.thinline-nav .icon-hand-heart .icon,
  .icon-nav svg.icon,
  .icon-nav .icon-hand-heart .icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    max-width: 20px;
    margin-top: 3px; }
  @media (max-width: 768px) {
    .navbar-nav.thinline-nav li.menu-item,
    .icon-nav li.menu-item {
      position: relative;
      padding-bottom: 20px; }
      .navbar-nav.thinline-nav li.menu-item:hover, .navbar-nav.thinline-nav li.menu-item:focus,
      .icon-nav li.menu-item:hover,
      .icon-nav li.menu-item:focus {
        background: none; }
        .navbar-nav.thinline-nav li.menu-item:hover:before, .navbar-nav.thinline-nav li.menu-item:focus:before,
        .icon-nav li.menu-item:hover:before,
        .icon-nav li.menu-item:focus:before {
          color: #aaa; }
        .navbar-nav.thinline-nav li.menu-item:hover a, .navbar-nav.thinline-nav li.menu-item:focus a,
        .icon-nav li.menu-item:hover a,
        .icon-nav li.menu-item:focus a {
          color: #aaa;
          background: none; }
      .navbar-nav.thinline-nav li.menu-item:before,
      .icon-nav li.menu-item:before {
        font-size: 28px;
        margin: 0; }
      .navbar-nav.thinline-nav li.menu-item a.nav-link,
      .icon-nav li.menu-item a.nav-link {
        display: block;
        text-align: center;
        font-size: 14px;
        padding: 40px 0 0 0;
        font-weight: 400;
        line-height: 20px;
        position: absolute;
        width: 100%;
        top: 0; }
        .navbar-nav.thinline-nav li.menu-item a.nav-link:hover, .navbar-nav.thinline-nav li.menu-item a.nav-link:focus,
        .icon-nav li.menu-item a.nav-link:hover,
        .icon-nav li.menu-item a.nav-link:focus {
          background: none; }
    .navbar-nav.thinline-nav .icon-hand-heart:before,
    .icon-nav .icon-hand-heart:before {
      display: none; }
    .navbar-nav.thinline-nav .icon-hand-heart .icon,
    .icon-nav .icon-hand-heart .icon {
      display: inline-block;
      height: 28px;
      width: 30px;
      max-width: 40px;
      min-height: 30px;
      stroke-width: 4px;
      stroke: yellow; } }

/***
 * Default slider styles, when using a single Section with components-as-slides
 *
 */
.slick-slider {
  position: relative; }
  .slick-slider.card-lists {
    background: #f5f5f5; }
    .slick-slider.card-lists .inner-wrapper {
      background: #FFFFFF; }
      .slick-slider.card-lists .inner-wrapper h1, .slick-slider.card-lists .inner-wrapper h2, .slick-slider.card-lists .inner-wrapper h3, .slick-slider.card-lists .inner-wrapper h4, .slick-slider.card-lists .inner-wrapper h5 {
        font-family: Merriweather;
        text-align: center;
        font-weight: 600;
        font-style: italic;
        padding: 1em;
        color: #FFFFFF; }
      .slick-slider.card-lists .inner-wrapper ul {
        text-align: center;
        list-style-type: none;
        font-size: 1.2rem;
        padding: 1em; }
      .slick-slider.card-lists .inner-wrapper li {
        margin-bottom: .6em; }
    .slick-slider.card-lists .slick-slide {
      opacity: .4;
      -webkit-transition: .3s opacity;
      transition: .3s opacity; }
    .slick-slider.card-lists .slick-slide.slick-active,
    .slick-slider.card-lists .slick-slide.slick-active.slick-center {
      opacity: 1; }
    .slick-slider.card-lists .arrow {
      fill: #CDCDCD; }
    @media (max-width: 1023px) {
      .slick-slider.card-lists svg.arrow.arrow-prev {
        left: -42px;
        margin-left: 2%; }
      .slick-slider.card-lists svg.arrow.arrow-next {
        right: -42px;
        margin-right: 2%; } }
    @media (max-width: 767px) {
      .slick-slider.card-lists svg.arrow {
        width: 20px; }
        .slick-slider.card-lists svg.arrow.arrow-prev {
          left: -20px;
          margin-left: 0%;
          -webkit-transform: scale(2, 6) rotateZ(180deg);
                  transform: scale(2, 6) rotateZ(180deg); }
        .slick-slider.card-lists svg.arrow.arrow-next {
          right: -20px;
          margin-right: 0%;
          -webkit-transform: scale(2, 6);
                  transform: scale(2, 6); }
        .slick-slider.card-lists svg.arrow path.cls-1 {
          fill: transparent; } }
  .slick-slider .slick-arrow {
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 1000;
    opacity: 1;
    cursor: pointer;
    width: 40px; }
    .slick-slider .slick-arrow:hover {
      opacity: .7; }
    .slick-slider .slick-arrow.arrow-prev {
      left: 18%;
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }
    .slick-slider .slick-arrow.arrow-next {
      right: 18%; }

.card-lists .slick-slide .inner-wrapper,
.card-lists .component .inner-wrapper {
  -webkit-box-shadow: 0 0 1px #999;
          box-shadow: 0 0 1px #999;
  margin: 10px 10%;
  height: 96%; }
  @media (max-width: 1023px) {
    .card-lists .slick-slide .inner-wrapper,
    .card-lists .component .inner-wrapper {
      margin: 10px 4%; } }
  @media (max-width: 767px) {
    .card-lists .slick-slide .inner-wrapper,
    .card-lists .component .inner-wrapper {
      margin: 0px 3%; } }
  @media (max-width: 599px) {
    .card-lists .slick-slide .inner-wrapper,
    .card-lists .component .inner-wrapper {
      margin: 0px 2%; } }

.card-lists .slick-slide h1, .card-lists .slick-slide h2, .card-lists .slick-slide h3, .card-lists .slick-slide h4, .card-lists .slick-slide h5, .card-lists .slick-slide h6,
.card-lists .component h1,
.card-lists .component h2,
.card-lists .component h3,
.card-lists .component h4,
.card-lists .component h5,
.card-lists .component h6 {
  padding: 10px;
  font-size: 24px;
  line-height: 30px; }

.card-lists .slick-slide p,
.card-lists .component p {
  padding: 10px;
  margin: 0; }

.card-lists .component:nth-child(5n) .inner-wrapper h4 {
  background: #E95657; }

.card-lists .component:nth-child(5n+1) .inner-wrapper h4 {
  background: #FCDB40; }

.card-lists .component:nth-child(5n+2) .inner-wrapper h4 {
  background: #2A5BA6; }

.card-lists .component:nth-child(5n+3) .inner-wrapper h4 {
  background: #2DA4BF; }

.card-lists .component:nth-child(5n+4) .inner-wrapper h4 {
  background: #292828; }

#content-archive {
  padding-top: 40px; }
  #content-archive .page-index {
    border: 0;
    height: 0;
    max-height: 0;
    -webkit-transition: .2s all;
    transition: .2s all; }
  #content-archive .page-index.loading {
    background-image: url(/wp-includes/images/wpspin-2x.gif);
    background-image: url(/wordpress/wp-includes/images/wpspin-2x.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    max-height: 100px;
    -webkit-transition: .2s all;
    transition: .2s all; }

article {
  margin: 40px 0; }

article.news-excerpt {
  text-align: left;
  margin-top: 0px;
  padding: 20px;
  max-height: 700px;
  -webkit-transition: max-height 0s  ease-in-out, opacity .4s  ease-in-out, padding 0s;
  transition: max-height 0s  ease-in-out, opacity .4s  ease-in-out, padding 0s; }
  @media (max-width: 600px) {
    article.news-excerpt {
      padding: 0px; } }
  article.news-excerpt.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-height: 0;
    position: absolute; }
  article.news-excerpt .inner-wrapper {
    border: 1px solid #CDCDCD;
    height: 100%;
    position: relative; }
    article.news-excerpt .inner-wrapper header {
      margin: 0; }
      article.news-excerpt .inner-wrapper header .date-bar {
        text-align: right; }
        article.news-excerpt .inner-wrapper header .date-bar p {
          background-color: #292828;
          display: inline-block;
          color: #FFFFFF;
          margin-bottom: 0;
          font-size: 12px;
          line-height: 14px;
          padding: 7px 11px; }
      article.news-excerpt .inner-wrapper header .bg {
        min-height: 150px; }
    article.news-excerpt .inner-wrapper hr {
      border-top: 3px solid #292828;
      width: 50px;
      margin: 20px auto 25px 0; }
    article.news-excerpt .inner-wrapper .content {
      padding: 20px; }
      article.news-excerpt .inner-wrapper .content .post-title {
        font-weight: 700; }
        article.news-excerpt .inner-wrapper .content .post-title a {
          text-decoration: none !important; }
      article.news-excerpt .inner-wrapper .content p {
        font-size: 15px; }
    article.news-excerpt .inner-wrapper footer svg.open-plus {
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      bottom: -30px; }

body.single #main-content .page-intro {
  position: relative;
  -webkit-transition: 2s all;
  transition: 2s all;
  max-height: 400px;
  overflow: hidden; }
  body.single #main-content .page-intro:before {
    -webkit-transition: 2s all;
    transition: 2s all;
    content: '';
    display: block;
    width: 100%; }
  body.single #main-content .page-intro img {
    width: 100%;
    margin-top: -20%;
    -webkit-transition: 2s all;
    transition: 2s all;
    cursor: pointer; }

body.single #main-content .page-intro.clicked {
  max-height: 1200px; }
  body.single #main-content .page-intro.clicked img {
    width: 100%;
    margin-top: 0; }

body.single #main-content #content article footer {
  margin-top: 30px; }

body.single #main-content #sidebar {
  margin-top: 40px;
  padding-top: 22px; }
  body.single #main-content #sidebar h2 {
    margin-bottom: 20px;
    text-align: center; }
  body.single #main-content #sidebar #content-archive {
    margin-top: 0; }
  body.single #main-content #sidebar .staff-card.has-thumbnail {
    margin-top: 40px; }

div.comment-list {
  margin: 40px auto; }
  div.comment-list .alert {
    text-align: center; }

body.page-template-default #content .has-breadcrumb, body.page-template-default #content.has-featured-image {
  padding-top: 75px; }

.slick-slider .single-slide {
  position: relative;
  float: left; }
  .slick-slider .single-slide .slide-bg {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45%; }

.slick-slider.bg-fill-height .slide-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0; }

#home-slider .slick-home-slider .arrow {
  position: absolute;
  z-index: 5;
  left: 50px;
  top: calc( 58% - 50px);
  fill: #FFFFFF; }
  @media (max-width: 992px) {
    #home-slider .slick-home-slider .arrow {
      margin-top: 45%;
      top: -50px; } }
  @media (max-width: 600px) {
    #home-slider .slick-home-slider .arrow {
      left: 25px; } }

#home-slider .slick-home-slider .arrow-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

#home-slider .slick-home-slider .arrow-next {
  left: 100px; }
  @media (max-width: 600px) {
    #home-slider .slick-home-slider .arrow-next {
      left: 75px; } }

#home-slider .slick-home-slider .text-wrapper {
  position: absolute;
  left: 50px;
  top: 58%;
  background-color: #FFFFFF;
  padding: 0 15px;
  max-width: 60%;
  width: 100%; }
  @media (max-width: 992px) {
    #home-slider .slick-home-slider .text-wrapper {
      position: relative;
      max-width: 100%;
      top: 0;
      left: 0;
      padding: 10px 25px 30px 25px; } }
  @media (max-width: 600px) {
    #home-slider .slick-home-slider .text-wrapper {
      left: 0; } }
  #home-slider .slick-home-slider .text-wrapper h2 {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #292828;
    padding: 0; }
    @media (max-width: 600px) {
      #home-slider .slick-home-slider .text-wrapper h2 {
        font-size: 38px;
        line-height: 40px; } }

.col-format-8-4 {
  padding-left: 50px;
  padding-right: 50px; }
  @media (max-width: 600px) {
    .col-format-8-4 {
      padding-left: 25px;
      padding-right: 25px; } }
  .col-format-8-4 .section-title {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 52px;
    text-align: left;
    margin-bottom: 25px; }
  .col-format-8-4 .section-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px; }
    @media (max-width: 992px) {
      .col-format-8-4 .section-content {
        padding-right: 0px; } }

#home-usp {
  background-color: #F5F5F5; }
  #home-usp .blue-bar {
    margin-top: -30px; }
  #home-usp p {
    font-size: 16px; }
  @media (max-width: 768px) {
    #home-usp {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 50px; } }
  @media (max-width: 600px) {
    #home-usp {
      padding-left: 25px;
      padding-right: 25px; } }
  #home-usp #desktop-access-points {
    margin-top: -15px; }
    @media (max-width: 768px) {
      #home-usp #desktop-access-points {
        display: none; } }
    #home-usp #desktop-access-points .inner-wrapper:before {
      font-family: "FontAwesome";
      content: "\f0da";
      display: block;
      float: right;
      margin: 32px 0px 10px 10px;
      height: 40px;
      width: 40px;
      padding: 6px 6px 6px 9px;
      line-height: 27px;
      font-size: 30px;
      text-align: center;
      color: #FFFFFF;
      background: #ddd;
      border: 1px solid #ddd;
      border-radius: 50%; }
    #home-usp #desktop-access-points .inner-wrapper:hover:before {
      background: #FFFFFF;
      color: #ddd; }
    #home-usp #desktop-access-points .col-left,
    #home-usp #desktop-access-points .col-right {
      background-color: #FFFFFF; }
      #home-usp #desktop-access-points .col-left .inner-wrapper,
      #home-usp #desktop-access-points .col-right .inner-wrapper {
        padding: 20px;
        height: 100%;
        border: 1px solid #CDCDCD;
        border-top: none; }
        #home-usp #desktop-access-points .col-left .inner-wrapper .button-title,
        #home-usp #desktop-access-points .col-right .inner-wrapper .button-title {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 22px;
          line-height: 28px; }
        #home-usp #desktop-access-points .col-left .inner-wrapper .button-content,
        #home-usp #desktop-access-points .col-right .inner-wrapper .button-content {
          font-size: 14px; }
    #home-usp #desktop-access-points .col-left {
      border-top: 15px solid #E95657; }
      #home-usp #desktop-access-points .col-left .inner-wrapper {
        border-right: none; }
    #home-usp #desktop-access-points .col-right {
      border-top: 15px solid #FCDB40; }

#home-news {
  text-align: center; }
  @media (max-width: 600px) {
    #home-news .section-content .row {
      padding-left: 0;
      padding-right: 0; } }
  #home-news .color-light {
    color: rgba(41, 40, 40, 0.11); }
  #home-news article {
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px; }
    @media (max-width: 992px) {
      #home-news article {
        padding-left: 0;
        padding-right: 0; } }
    #home-news article a:hover, #home-news article a:focus {
      text-decoration: none; }
      #home-news article a:hover .inner-wrapper .date-bar:after, #home-news article a:focus .inner-wrapper .date-bar:after {
        -webkit-transform: translateX(0);
                transform: translateX(0); }
    #home-news article .inner-wrapper {
      border: 1px solid #CDCDCD;
      height: 100%;
      position: relative; }
      #home-news article .inner-wrapper .date-bar {
        text-align: right;
        position: relative;
        overflow: hidden; }
        #home-news article .inner-wrapper .date-bar:after {
          background-color: rgba(0, 0, 0, 0.15);
          content: "";
          width: calc(100% - 120px);
          height: 28px;
          left: 0;
          position: absolute;
          -webkit-transition: all 0.25s;
          transition: all 0.25s;
          -webkit-transform: translateX(-350px);
                  transform: translateX(-350px); }
        #home-news article .inner-wrapper .date-bar p {
          background-color: #292828;
          display: inline-block;
          color: #FFFFFF;
          margin-bottom: 0;
          font-size: 12px;
          line-height: 14px;
          padding: 7px 11px;
          min-width: 120px;
          text-align: center; }
      #home-news article .inner-wrapper .bg {
        min-height: 150px; }
      #home-news article .inner-wrapper hr {
        border-top: 3px solid #292828;
        width: 50px;
        margin: 20px auto 25px 0;
        -webkit-transition: all 0.25s;
        transition: all 0.25s; }
      #home-news article .inner-wrapper .content {
        padding: 20px; }
        #home-news article .inner-wrapper .content .post-title {
          font-weight: 700;
          -webkit-transition: all 0.25s;
          transition: all 0.25s; }
        #home-news article .inner-wrapper .content p {
          font-size: 15px; }
  #home-news article.odd {
    padding-right: 15px; }
    @media (max-width: 768px) {
      #home-news article.odd {
        padding-right: 0px; } }
    #home-news article.odd .inner-wrapper .date-bar {
      background-color: #2DA4BF; }
  #home-news article.even {
    padding-left: 15px; }
    @media (max-width: 768px) {
      #home-news article.even {
        padding-right: 0px; } }
    #home-news article.even .inner-wrapper .date-bar {
      background-color: #E95657; }
  #home-news .button {
    margin: auto;
    background: transparent;
    color: #CDCDCD;
    border: 1px solid #CDCDCD; }

@media (max-width: 768px) {
  .blue-bar {
    margin-top: 0;
    padding-right: 0; } }

.blue-bar .inner-wrapper {
  background-color: #2A5BA6;
  color: #FFFFFF;
  padding: 35px;
  height: 100%; }
  .blue-bar .inner-wrapper h2 {
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 38px;
    font-style: normal;
    margin-bottom: 18px; }
  @media (max-width: 768px) {
    .blue-bar .inner-wrapper {
      padding: 50px; } }
  @media (max-width: 600px) {
    .blue-bar .inner-wrapper {
      padding-left: 25px;
      padding-right: 25px; } }
  .blue-bar .inner-wrapper #home-contact-form {
    float: left;
    width: 100%;
    margin-bottom: 30px; }

#home-features-slider {
  position: relative; }
  #home-features-slider .arrow {
    fill: #FFFFFF; }
  #home-features-slider .single-slide {
    min-height: 600px;
    position: relative;
    float: left; }
    #home-features-slider .single-slide:after {
      content: "";
      background-color: rgba(45, 164, 191, 0.8);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      z-index: 0; }
    #home-features-slider .single-slide .text-wrapper {
      width: 60%;
      left: 20%;
      right: auto;
      margin: auto;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 9; }
      #home-features-slider .single-slide .text-wrapper .section-title {
        color: #FFFFFF; }
      #home-features-slider .single-slide .text-wrapper .hf-text {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400; }
        @media (max-width: 600px) {
          #home-features-slider .single-slide .text-wrapper .hf-text {
            font-size: 14px;
            line-height: 20px; } }
  #home-features-slider .single-slide.bg {
    background-color: #ccc; }
  #home-features-slider .arrow {
    position: absolute;
    z-index: 5;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  #home-features-slider .arrow-prev {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 50px; }
    @media (max-width: 600px) {
      #home-features-slider .arrow-prev {
        left: 25px; } }
  #home-features-slider .arrow-next {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    right: 50px; }
    @media (max-width: 600px) {
      #home-features-slider .arrow-next {
        right: 25px; } }

#home-staff-slider {
  padding: 50px 0;
  background-color: #F5F5F5; }
  #home-staff-slider .slick-home-staff-slider .single-slide.slick-current {
    opacity: 1; }
  #home-staff-slider .slick-home-staff-slider .single-slide {
    padding: 0 25px;
    opacity: 0.5;
    float: left; }
    @media (max-width: 600px) {
      #home-staff-slider .slick-home-staff-slider .single-slide {
        padding: 0 10px; } }
    #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper {
      background-color: #FFFFFF;
      border: 2px solid #CDCDCD;
      position: relative;
      height: 100%; }
      #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .quoter-image {
        position: absolute;
        top: 20px;
        left: 28px;
        border-radius: 50%;
        width: 75px;
        height: 75px; }
        @media (max-width: 600px) {
          #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .quoter-image {
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 50px;
            height: 50px; } }
      #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar {
        display: inline-block;
        height: 100%;
        border-left: 65px solid #E95657;
        padding: 25px 25px 25px 65px; }
        @media (max-width: 600px) {
          #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar {
            border-left: 0;
            border-top: 50px solid #E95657;
            padding: 25px 15px 15px 15px; } }
        #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar .post-title,
        #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar .quote-title {
          font-weight: 800;
          margin: 0 0 8px 0;
          padding: 0 !important; }
        @media (max-width: 600px) {
          #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar .post-title,
          #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar .quote-title {
            padding: 0 0 0 105px;
            min-height: 65px; } }
        #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar .quote-meta {
          margin: 0;
          padding: 0 10px 10px 10px;
          font-size: 14px;
          padding: 0 !important; }
        #home-staff-slider .slick-home-staff-slider .single-slide .inner-wrapper .content-bar .quote-content {
          margin-top: 10px; }
  #home-staff-slider .slick-home-staff-slider .single-slide.even .inner-wrapper .content-bar {
    border-left: 65px solid #2DA4BF; }
    @media (max-width: 600px) {
      #home-staff-slider .slick-home-staff-slider .single-slide.even .inner-wrapper .content-bar {
        border-left: 0;
        border-top: 50px solid #2DA4BF; } }
  #home-staff-slider .slick-home-staff-slider ul.slick-dots {
    list-style-type: none;
    display: block;
    margin: 20px auto;
    float: none;
    text-align: center; }
    #home-staff-slider .slick-home-staff-slider ul.slick-dots li {
      list-style-type: none;
      display: inline-block;
      margin: 10px 5px;
      padding: 5px;
      cursor: pointer; }
      #home-staff-slider .slick-home-staff-slider ul.slick-dots li button {
        display: block;
        padding: 8px;
        font-size: 0;
        line-height: 0;
        border: 1px solid #ccc;
        background: #FFFFFF;
        cursor: pointer; }
      #home-staff-slider .slick-home-staff-slider ul.slick-dots li.slick-active button {
        border: 1px solid #000;
        background: #000; }
